h1{
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    margin: 23px;
    justify-content: center;
}

h2{
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    margin:23px;
    text-align: center;
    justify-content: center;


}

h3{
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
h3 > p {
    opacity: 55%;
    margin: 10px;
}

h4{
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: larger;
}

h4{
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
h5 {
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: x-large;
    
}

h5>p{
    transform: rotateX(180deg);
    margin: 10px;
}

h6{
    font-family: 'inconsolata',monospace;
    display: flex;
    box-sizing: border-box;
    width:280px;
    height: 280px;
    border: 2px solid yellow;
    align-items: center;
    margin:23px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right,white 50%,black 50%);
    font-size: x-large;
    
}

h6>p{
    color: white;
    margin: 4px;   
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
     border: yellow 1px solid; 
}

.circle {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
}

.filled-circle {
    background-color:rgb(185, 110, 24);
    width: 27px;
    height: 27px;
   
   
}

.stroked-circle {
    border:20px solid rgb(185, 110, 24);
    
}

.stroke-circle2{
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
     
.outer{
    border: 1.5px solid yellow;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: none;
    border:solid rgb(185, 110, 24) 60px;
    width: 390px;
    height: 100px;
    position:relative;
    top: 50px;
}

.box1{
    border-right: white;
    margin-left: 110px;
    
}

.box2{
    border-left: white;
    top: 19%;
   right: 210px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oval{
    width: 400px;
    height: 20px;
    background-color: rgb(185, 110, 24);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid rgb(185, 110, 24);


}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    width: 600px;
    height: 600px;
}

#sharp{
    border: yellow solid;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#power{
    width: 20px;
    height: 60px;
    border: 6px solid white;
    background-color: rgb(185, 110, 24);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 40px;
    right: 70px;
    
}

.circle-off{
    border-radius: 50%;
    border: 13px solid rgb(185, 110, 24);
    background-color: transparent;
    width: 80px;
    height: 80px;
    position: relative;
   
}

.moon-flex{
    display:flex ;
    justify-content: center;
    align-items: center;
    border: 1px yellow solid;
    width: 400px;
    height: 400px;
}

.lower-circle{
    width: 200px;
    height: 200px;
    background-color: rgb(185, 110, 24);
    border-radius: 50%;
    position: relative;
}

.upper-circle{
     width: 180px;
     height: 180px;
     background-color: white;
     border-radius: 50%;
     bottom:33px ;
     right: 173px;
     position: relative;
}

.full-moon{
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 200px;

}

.sun-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
}

.ray{
    width: 6px;
    height: 200px;
    background-color: rgb(185, 110, 24);
    position: relative;
}

.core{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(185, 110, 24);
    position: relative;
    right: 130px;
}
.one{
    transform: rotate(90deg);
    border: 6px solid white;

    left: 45px;
}

.two{
    transform: rotate(60deg);
    border: 6px solid white;

    left: 35px;
   
}

.four{
    transform: rotate(-60deg);
    border: 6px solid white;

    
}

.three{
    
    left: 10px;
    border: 6px solid white;

}

.five{
    transform: rotate(30.5deg);
    border: 6px solid white;

    right: 15px;
}

.six{
    transform: rotate(-30.5deg);
    border: 6px solid white;

    right: 35px;

}

.outerbox{
    border: 2px yellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.square{
    background-color: rgb(185, 110, 24);
    width: 200px;
    height: 200px;

}

.most-outer{
    border: 2px yellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.box78{
    background-color: white;
    border: 20px rgb(185, 110, 24) solid;
    width: 200px;
    height: 200px;
    position: relative;
}

.box-small{
    
    width: 60px;
    height: 60px;
    background-color: white;
    position: relative;
    bottom: 100px;
    right: 150px;
}

.mostouter{
    border: 2px yellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.box79{
    background-color: white;
    border: 20px rgb(185, 110, 24) solid;
    width: 200px;
    height: 200px;
    position: relative;
}

.boxsmall{
    border: black 2px solid; 
    width: 60px;
    height: 60px;
    background-color: white;
    position: relative;
    top: 0px;
    right: 0px;
    animation: oppo 6s linear infinite;
}


     @keyframes oppo {
      0%  { right:40px; top:40px;}
       20% {  right:20px ; top:80px;}
        40% {right:250px; top:152px;}
       60% { right:250px; top:-152px;}
        80% { right:2px; top:-152px;}
      100%  { right:40px; top:40px;}
        
    } 
